@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #8070d4;
    border-radius: 100px;
  }
}
